<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestAll">

    <test name="order">
        <classes>
            <class name="com.testngdemo.suite.TestConfig" />
            <class name="com.testngdemo.suite.TestOrder" />
        </classes>
    </test>

    <test name="database">
        <classes>
            <class name="com.testngdemo.suite.TestConfig" />
            <class name="com.testngdemo.suite.TestDatabase" />
        </classes>
    </test>

</suite>